.container {
    margin-top: 50px;
}

#foodImage {
    height: 200px;
    width: 200px;
    margin: auto;
}

#drinkImage {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

.search{
    border-radius: 50%;
    background: #34e2e5;
    box-shadow: inset 5px -5px 5px #2bbcbe, 
                inset -5px 5px 5px #3dffff;
  }

  .card {
    height: 350px;
    width: 600px;
    background-color: rgba(139, 108, 23, 0.513) ;
  }

  #searchBox {
    text-align: center;
  }

  .food {
    text-align: center;
  }

  #drinkInstuctions {
      font-size: 18px;
      line-height: 1.4em;
  }

  #drinkTitle {
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
  }

  #foodTitle {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.nav-wrapper {
  background-color: goldenrod;
}