.container {
  margin-top: 50px;
}

#foodImage {
  height: 200px;
  width: 200px;
  margin: auto;
}

#drinkImage {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}

.search{
text-align: center;
  border-radius: 50px;
  background: #f3de53b9;
  box-shadow:  20px 20px 60px #e2ce4d, 
              -20px -20px 60px #ffee59;
}

.card {
  height: 350px;
  width: 600px;
  background-color: rgba(139, 108, 23, 0.513) ;
}

#card-size {
  height: 500px;
  width: 600px;
  background-color: rgba(139, 108, 23, 0.513) ;
}

#searchBox {
  text-align: center;
}

.food {
  text-align: center;
}

#drinkInstuctions {
    font-size: 18px;
    line-height: 1.4em;
}

#drinkTitle {
    text-align: center;
    font-weight: bolder;
}

#foodTitle {
  text-align: center;
  font-weight: bolder;
}

.nav-wrapper {
background-color: goldenrod;
min-width: 100%;
}

.material-icons {
text-align: center;
}

#copyrightText {
text-align: center;
color: white;
margin-bottom: 30px;
}

#headerTitle {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#links:hover {
color: goldenrod;
}

#links {
color: white;
}

.footer-copyright {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
